html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    overflow: auto;
    overflow-y: scroll;
}

body {
    background: #fff;
    color: rgba(0, 0, 0, .7);
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;
}

section, .section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    padding: 3em 5em 5em;
    position: relative;
}

.a1 {
    font-family: 'Holtwood One SC', serif;
}

.a5 {
    font-family: 'Seymour One', sans-serif;
}

.a7 {
    font-family: 'Faster One', cursive;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-weight: 400;
    font-size: 3.5em;
    font-style: normal;
}

h2 {
    font-family: 'Bungee Shade', cursive;
    font-weight: 400;
    font-size: 3.5em;
    font-style: normal;
}

p {
    font-size: 2em;
}

ol, ul {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

li {
    line-height: 1.5;
}

li a {
    display: block;
    padding: .3em 0;
    text-decoration: none;
}

li a strong {
    background-color: #2962ff;
    border-radius: .5em 0;
    color: #ffffff;
    padding: 0 .3em;
}

li a span {
    color: #a9a9a9;
}

i {
    /*display: none;*/
    margin-right: .3em;
}

a {
    color: #2962ff;
}

.hero {
    color: #ffffff;
    background-color: #3f51b5;
}

.hero a {
    color: #ffffff;
}

.toc {
    color: #ffffff;
    background-color: #FF5252;
}

.toc a {
    color: #ffffff;
}

.local {
}

.footer {
    background-color: #37474f;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}
