html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    overflow: auto;
    overflow-y: scroll;
}

body {
    background: #fff;
    color: rgba(0, 0, 0, .7);
    font-family: 'Open Sans', sans-serif;
    font-size: 7px;
}

section, .section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 5em;
}

.bungee {
    font-family: 'Bungee Shade', cursive;
}

.inline {
    font-family: 'Bungee Inline', cursive;
}

.press {
    font-family: 'Press Start 2P', cursive;
}

.slackey {
    font-family: 'Slackey', cursive;
}

.codystar {
    font-family: 'Codystar', cursive;
}

.bangers {
    font-family: 'Bangers', cursive;
}

.ranchers {
    font-family: 'Ranchers', cursive;
}

.shadow {
    font-family: 'Londrina Shadow', cursive;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-weight: 400;
    font-size: 4em;
    font-style: normal;
}

h2 {
    font-family: 'Bungee Shade', cursive;
    font-weight: 400;
    font-size: 3em;
    font-style: normal;
}

p {
    font-size: 2em;
}

ol, ul {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

li {
    line-height: 1.5;
}

li a {
    display: block;
    padding: .3em 0;
    text-decoration: none;
}

i {
    display: none;
}

a {
    color: #2962ff;
}

.hero {
    color: #ffffff;
    background-color: #3f51b5;
}

.hero a {
    color: #ffffff;
}

.toc {
    color: #ffffff;
    /*background-color: #ffeb3b;*/
    background-color: #FF5252;
    text-decoration: underline;
}

.toc a {
    color: #ffffff;
}

.local {
}

.footer {
    background-color: #37474f;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}
